.input {
  display: flex;
  align-items: center;
  padding: 20px;
}

.input label {
  font-weight: bold;
  padding-right: 10px;
}

.input input {
  width: 10rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
}

.input button {
  cursor: pointer;
}
